---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";
import profileImage from "assets/profile.png";
import Sectionhead from "@components/sectionhead.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const teamentries = await getCollection("team");
  return teamentries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.name}>
  <Container>
    <Sectionhead>
        <Fragment slot="title">{entry.data.name}</Fragment>
        <Fragment slot="desc">
          {entry.data.since}
        </Fragment>
      </Sectionhead>

    <div class="mx-auto max-w-4xl mt-14">
        <div class="">
            <Picture
                src={entry.data.avatar.src}
                alt="Astronaut in the air"
                widths={[800]}
                aspectRatio="16:6"
                sizes="(max-width: 800px) 100vw, 400px"
                loading="eager"

                fit="cover"
                position="center"
                class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl"
                />
        </div>

        
        
        <div class="mx-auto">
            
            
            

        </div>
      
    </div>
  </Container>
</Layout>
