---
import Layout from "@layouts/Layout.astro";
import Container from "@components/ui/container.astro";
import Sectionhead from "@components/ui/sectionhead.astro";

import Card from "@components/blog/card.astro";
import { getPosts } from "@utils/sanity";

const posts = await getPosts();
---

<Layout title="Blog">
  <Container>
    <Sectionhead align="center">
      <Fragment slot="title">Our Blog</Fragment>
      <Fragment slot="desc">
        A few articles that can help you on your journey to becoming a Star
        Doctor.
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <ul class="mx-auto max-w-screen-xl">
        <section>
          {posts.length ? posts.map((post) => <Card post={post} />) : null}
        </section>
      </ul>
    </main>
  </Container>
</Layout>
