---

import Strafield from "./strafield.astro";
import Features from "./features.astro";

// <div class="md:flex justify-center z-50 hidden"><Banner /></div>
---

<main class="bg-medbg relative border-y border-gray-200 dark:border-gray-700">
  <Strafield />
   
  <div class="relative">
    

    <div class="flex items-center relative flex-col py-28">
      
      <h1
      class="mb-4 text-center text-2xl font-bold md:text-3xl lg:text-4xl text-white"
    >
    MEDASTRA PLAB 2 Courses
    </h1>
    <p
      class="max-w-7xl text-center text-lg font-normal text-gray-100 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
    >
    Join the BEST PLAB 2 Course taught by Senior Practicing NHS Doctors
    </p>
    <!--
    <div class="max-w-7xl">
      <Features /> 
    </div>
    -->
    
    </div>
    
  </div>
</main>
