---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/ui/container.astro";
import Aboutsection from "@components/aboutsection.astro";
import Accommodationsection from "@components/accommodationsection.astro";
import Teamsection from "@components/ui/teamsection.astro";
import { getAbout } from "@utils/sanity";

const about = await getAbout();
---

<Layout title="About Medastra">
  <Container>
    <main>
      <div class="">
        <Aboutsection />

        <!-- Section -->
        <div class="">
          <div>
            <div class="">
              <h2
                class="text-3xl md:text-4xl font-extrabold dark:text-white pb-8 text-center md:text-start"
              >
                Supervised and Structured Practice Sessions
              </h2>
              <ul class="space-y-4 text-left text-gray-500 dark:text-gray-400">
                {
                  about.sessions?.map((point) => (
                    <li class="flex items-center space-x-3">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <span>{point.sectionBPoint}</span>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
        <hr class="h-px my-12 bg-gray-200 border-0 dark:bg-gray-700" />

        <!-- Section -->
        <div class="">
          <div class="">
            <h2
              class="text-3xl md:text-4xl font-extrabold dark:text-white pb-8 text-center md:text-start"
            >
              Senior and Experienced Faculty
            </h2>

            <div class="">
              <ul class="space-y-4 text-left text-gray-500 dark:text-gray-400">
                {
                  about.faculty?.map((point) => (
                    <li class="flex items-center space-x-3">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <span>{point.sectionCPoint}</span>
                    </li>
                  ))
                }
              </ul>
            </div>
          </div>
        </div>
        <hr class="h-px my-12 bg-gray-200 border-0 dark:bg-gray-700" />

        <!-- Section -->
        <div class="">
          <h2
            class="text-3xl md:text-4xl font-extrabold dark:text-white pb-8 text-center md:text-start"
          >
            What else do we offer
          </h2>
        </div>

        <div class="">
          <ul class="space-y-4 text-left text-gray-500 dark:text-gray-400">
            {
              about.offering?.map((point) => (
                <li class="flex items-center space-x-3">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span>{point.sectionDPoint}</span>
                </li>
              ))
            }
          </ul>
        </div>
        <hr class="h-px my-12 bg-gray-200 border-0 dark:bg-gray-700" />

        <!-- Section -->
        <Accommodationsection />
        <!-- Section -->
        <Teamsection />
      </div>
    </main>
  </Container>
</Layout>
