---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Accommodation</Fragment>
      <Fragment slot="desc">A little more about us</Fragment>
    </Sectionhead>

    <main></main>
  </Container>
</Layout>

