---
import Aboutsection from "@components/aboutsection.astro";
import Accommodation from "@components/accommodationsection.astro";
import Accommodationsection from "@components/accommodationsection.astro";
import Accordian from "@components/accordian.astro";
import Beyondservices from "@components/beyondservices.astro";
import Container from "@components/container.astro";
import Courseindexcontainer from "@components/courseindexcontainer.astro";
import Hero from "@components/hero/hero.astro";
import Jumbo from "@components/jumbo.astro";
import Mainservices from "@components/mainservices.astro";
import Reviews from "@components/reviews.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Hero />
  <Container>
    <!--  <div class="relative z-20 -mt-32 md:-mt-12 ">
      <Features />
    </div>
    -->

    <Aboutsection />
    <Jumbo />
    <Accommodationsection />

    <Accordian />
    <Reviews />
  </Container>
</Layout>
