---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<Layout title="Resources">
  <Container>
    <Sectionhead align="center">
      <Fragment slot="title">Resources</Fragment>
      <Fragment slot="desc">Resources</Fragment>
    </Sectionhead>

    <main>
      <div class="my-20 grid grid-cols-2 gap-5">
        <div class=""><YouTube id="8mTLRJwXm2E" /></div>
      </div>
    </main>
  </Container>
</Layout>
