---
---

<div class="">
  <div class="pt-16">
    <h1
      class="mb-4 text-2xl font-extrabold text-gray-00 dark:text-white md:text-4xl lg:text-5xl text-center"
    >
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r from-medbg to-medbglight"
        >Medastra</span
      > Here for you.
    </h1>
    <p
      class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 text-center"
    >
      Are you worried about passing your PLAB exam?, Confused which course
      provider to join?, Where to stay in Manchester?, Wondering how to get a
      good job in the UK?
    </p>
  </div>
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
  <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
    <div>
      <h2 class="text-3xl md:text-4xl font-extrabold dark:text-white pb-5 text-center md:text-start">Who we are</h2>
      <p class=" text-gray-500 dark:text-gray-400">
        At Medastra we completely understand how stressed you might be feeling
        as you plan your journey to becoming a successful doctor in the UK. We
        are here to guide you through each part of the process, from the time
        you arrive in the UK, through your PLAB 2 preparation, to your first job
        in the NHS.
      </p>
      <p class="text-gray-500 dark:text-gray-400">
        We pride ourselves on our integrity and ethical approach, both
        professionally and personally. We echo this sentiment throughout our
        course provision.
      </p>
      <div class="pt-4">
        <a
          href="/about"
          class="inline-flex justify-center items-center py-2.5 px-4 text-base font-medium text-center text-white rounded-lg bg-medbg hover:bg-medbg/50 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
        >
          Read more
          <svg
            aria-hidden="true"
            class="ml-2 -mr-1 w-4 h-4"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </a>

        <a
          href="/courses"
          class="inline-flex items-center text-lg text-medbg dark:text-medbglight hover:underline pl-4"
        >
          View Courses
          <svg
            class="w-6 h-6 ml-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path></svg
          >
        </a>
      </div>
    </div>
    <div class="">
      <div class="flex flex-col content-center">
        <ul class="mb-8 space-y-4 text-left text-gray-500 dark:text-gray-400 flex flex-col content-center">
          <li class="flex items-center space-x-3">
            <!-- Icon -->
            <svg
              class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span
              >Senior and experienced GPs and Hospital doctors experienced in
              training junior doctors
            </span>
          </li>
          <li class="flex items-center space-x-3">
            <!-- Icon -->
            <svg
              class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span> NHS Consultants and Clinical Directors</span>
          </li>
          <li class="flex items-center space-x-3">
            <!-- Icon -->
            <svg
              class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span
              >We have first-hand experience of going through this journey
              ourselves and fully understand the challenges involved.</span
            >
          </li>
          <li class="flex items-center space-x-3">
            <!-- Icon -->
            <svg
              class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span
              >Benefit from our faculty's experience as PLAB examiners for the
              GMC, giving you valuable tips to ace the PLAB2 exam.</span
            >
          </li>
          <li class="flex items-center space-x-3">
            <!-- Icon -->
            <svg
              class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path></svg
            >
            <span
              >Excellent role players for our mock exams to give you the same
              experience as you will have with the simulators in the real exam.</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
