---
---

<div class="">
  <div class="my-16 md:mt-16">
    <div class="flex justify-center">
      <h2
        class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-center"
      >
        About us
      </h2>
    </div>
    <p class="text-center text-lg mt-4 text-slate-600 mx-auto w-4/5">
      At MEDASTRA, we understand how stressed you might be feeling as
      you plan your journey to becoming a successful doctor in the UK. We are
      here to guide you through each part of the process, from the time you
      arrive in the UK, through your PLAB 2 preparation, to your first job in
      the NHS.
    </p>
  </div>
</div>
