---
---

<div class="my-20">
  <h1
    class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
  >
    <span
      class="text-transparent bg-clip-text bg-gradient-to-r from-medbg to-emerald-800"
      >Medastra</span
    > Here for you.
  </h1>
  <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
    Are you worried about passing your PLAB exam?, Confused which course
    provider to join?, Where to stay in Manchester?, Wondering how to get a good
    job in the UK?
  </p>
</div>
