---
import Sectionhead from "./sectionhead.astro";

---

<main class="p-8 md:p-8 bg-gray-100 rounded-md my-5" >
        <div class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">Explore our courses</div>
        <div class="text-lg mt-4 text-slate-600 text-center">
          Welcome to our courses, take your time and have a read and see if you come
          across something that your intrested in.
        </div>

    <slot />
</main>