---
import Sectionhead from "./sectionhead.astro";

---

<main class="py-8 md:py-8  rounded-md my-5" >
        <h1 class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-center">Explore our courses</h1>
        <div class="text-lg text-slate-600 text-center mb-16">
          Welcome to our courses, take your time and have a read and see if you come
          across something that your intrested in.
        </div>

    <slot />
</main>