---
import Sectionhead from "./sectionhead.astro";

---

<main class="py-8 md:py-8  rounded-md my-5" >
        <h1 class="text-2xl lg:text-3xl font-bold lg:tracking-tight text-center">Explore our courses</h1>
        <div class="text-lg text-slate-600 text-center mb-16">
          Join the BEST PLAB 2 Course taught by Senior Practicing NHS Doctors in Manchester
        </div>

    <slot />
</main>