---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon";
import Strafield from "./strafield.astro";
---



<div
  class="bg-black p-8 md:px-20 md:py-20 my-20 mx-auto  rounded-lg flex flex-col items-center text-center relative">
  <div class="relative">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Building faster Websites.
  </h2>
  <p class="text-slate-100 mt-4 text-lg md:text-xl max-w-2xl inline-block">
    Search Engines love fast content rich website and ranks them higher just like your business they only want to serve the best.
  </p>
  
  <div class="flex mt-5 justify-center">
    <Link href="/contact" style="inverted">Lets Build</Link>
  </div>
</div>
</div>




