---
import Logos from "./logos.astro";

---


<footer class="mt-10 py-10 bg-slate-800">
  <p class="text-center text-sm text-slate-500">
    Built by and Copyright 
    <a
    href="/about"
    target="_blank"
    rel="noopener"
    class="hover:underline ">
    Anas Mahmud
  </a> All rights reserved Â© {new Date().getFullYear()}
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  
  <p class="text-center text-xs text-slate-500 mt-1">
    Hosted By <a
      href="https://cloud1media.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Cloud1media in the UK
    </a>
  </p>
</footer>
