---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import Strafield from "./strafield.astro";
import Banner from "./ui/banner.astro";

// <div class="md:flex justify-center z-50 hidden"><Banner /></div>
---

<main class="bg-black relative">
  <Strafield />
   
  <div class="relative pt-28 pb-40 md:pb-36">
    

    <div class="flex items-center relative flex-col">
      
      <h1
      class="mb-4 text-center text-2xl font-bold md:text-3xl lg:text-4xl text-white"
    >
    MEDASTRA PLAB 2 Courses
    </h1>
    <p
      class="mb-6 max-w-7xl text-center text-lg font-normal text-gray-100 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
    >
    Join the BEST PLAB 2 Course taught by Senior Practicing NHS Doctors
    </p>
    
      
    </div>
  </div>
</main>
