---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import Strafield from "./strafield.astro";

---

<main class="bg-red-800 relative py-40 z-10">
  <Strafield />

  <div class="flex items-center relative flex-col">
    <h1
      class="text-center md:text-start text-5xl lg:text-6xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter text-white"
    >
      Become a STAR Doctor
    </h1>
    <h2
      class="mt-5 text-center md:text-start text-md lg:text-xl font-semibold text-white"
    >
      Join the BEST PLAB 2 Course taught by Senior Practicing NHS Doctors in Manchester
    </h2>

    <div
      class="justify-center md:justify-start flex flex-col sm:flex-row gap-3 mt-5"
    >
      <div class="flex sm:flex-row gap-3">
        <Link
          size="lg"
          style="inverted"
          rel="noopener"
          href="/courses"
          class="flex gap-1 items-center justify-center"
          target="_blank"
        >
          <Icon class="text-black w-4 h-4" name="zondicons:book-reference" />
          Courses
        </Link>
        <Link
          href="#"
          href="/contact"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener"
        >
          <Icon class="text-white w-5 h-5" name="clarity:talk-bubbles-solid" />
          Lets talk
        </Link>
        
      </div>
    </div>
  </div>
</main>
