---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import Strafield from "./strafield.astro";
import Banner from "./ui/banner.astro";
---

<main class="bg-black relative">
  
  <Strafield />
  <div class="relative pt-28 pb-44">
    <div class="flex items-center relative flex-col">
      <h1
        class="text-center md:text-start text-5xl lg:text-6xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter text-white px-4"
      >
        MEDASTRA PLAB 2 Courses
      </h1>
      <h2
        class="mt-5 text-center md:text-start text-md lg:text-xl font-semibold text-white px-5 md:px-0"
      >
        Join the BEST PLAB 2 Course taught by Senior Practicing NHS Doctors in
        Manchester
      </h2>
      <div class=" md:flex justify-center z-50 hidden"><Banner /></div>
      
    </div>
  </div>
</main>
