---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-12">
  <h2 class="text-center font  font-bold">Tech I like to use</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-8 flex-wrap">
    <a href="https://wordpress.com/" target="_blank" title="Wordpress"><Icon class="h-8 md:h-12" name="simple-icons:wordpress"/></a>
    <a href="https://react.org/" target="_blank" title="React JS"><Icon class="h-8 md:h-12" name="simple-icons:react" /></a>
    <a href="https://nextjs.org/" target="_blank" title="Next JS"><Icon class="h-8 md:h-12" name="simple-icons:nextdotjs" /></a>
    <a href="https://astro.build/" target="_blank" title="Astro JS"><Icon class="h-8 md:h-12" name="simple-icons:astro" /></a>
    <a href="https://shopify.com/" target="_blank" title="Shopify"><Icon class="h-8 md:h-12" name="simple-icons:shopify" /></a>
  </div>
</div>
