---
// @ts-ignore
import { Icon } from "astro-icon";
import {otherfeatures} from "@utils/featurelist.ts";

---

  <div class="mt-16">
    <div class="flex justify-center">
      <h2 class="text-center text-4xl lg:text-5xl font-bold lg:tracking-tight">
        The Help you need
    </h2>
  </div>
    <p class="text-center text-lg mt-4 text-slate-600">
      An all batteries included service
    </p>
  </div>


<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-10 md:gap-16">
  {
    otherfeatures.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
