---
import { Icon } from "astro-icon";
import Container from "./ui/container.astro";
import Sectionhead from "./ui/sectionhead.astro";
import Review from "./ui/review.astro";

const review = [
  {
    name: "Dr Arsalan Naqvi",
    text: "Really thankful to Dr Sara Awan & Dr Tauqeer Abbas, Both extremely professional in teaching & guiding towards the right direction. Helping me underst& ways to get through different challenging questions. Dr Abbas has great experience being former Plab 2 examiner giving me great tips regarding history taking & efficient time management. & also advised not to use certain common mistakes that a c&idate repeatedly does. Dr Sara possess excellent communication skills & also taught me use holistic approach. Thanks for guiding me & helping me pass the exam in first attempt.",
    rating: [3],
    date: "2021-05-01",
    icon: "subway:star",
  },
  {
    name: "Dr Shoaib Hasan",
    text: "Best ever combination of well versed and well experienced faculty including former PLAB examiners and practicing NHS senior doctors. They exactly know what is expected in exam and what is needed for a candidate to get through in first attempt. Teaching , Communication and hands on practice for skill station with excellent manikins available at best and most favourite location of Manchester with option of getting accommodation nearby. Highly recommended.",
    rating: [5],
    date: "2021-05-01",
    icon: "subway:star",
  },
];
---

<Container>
  <Sectionhead align="center">
    <Fragment slot="title">Reviews</Fragment>
    <Fragment slot="desc">What our customers say</Fragment>
  </Sectionhead>



<div class="my-16">
  
  <ul class="grid md:grid-cols-2 gap-4">
    {
      review.map((item) => (
        <li>
          <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
            <Review name={item.name} text={item.text} rating={item.rating} date={item.date} />
          </div>
        </li>
      ))
    }
  </ul>
</div>
</Container>
