---
import { Picture } from "@astrojs/image/components";
import { formatDate } from "../../utils/format";
import { urlFor } from "../../utils/image";
import type { Post } from "../../utils/sanity";
import { Icon } from "astro-icon";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div
  class="flex bg-slate-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg overflow-hidden"
>
  {
    post.mainImage ? (
      <>
        <Picture
          src={urlFor(post.mainImage).url()}
          alt="Cover image"
          sizes="(max-width: 800px) 100vw, 800px"
          widths={[200, 400, 800]}
          aspectRatio="16:9"
          background="#ffffff"
          fit="cover"
          position="center"
          class="rounded-t overflow-hidden h-12 z-0"
        />
      </>
    ) : (
      <div class="flex items-center col-span-1 h-full w-full bg-gray-500">
        <div class="content-center">
          <img
            class=""
            src="/fa2b3c00-2423-4c15-be39-4d4beda7092d.webp"
            alt=""
          />
        </div>
      </div>
    )
  }
  <div class="col-span-2 px-5 md:px-5 flex h-10 items-center">
    <h3 class="text-lg tracking-tight text-gray-900 dark:text-white">
      <a class="" href={`/blog/${post.slug.current}`}>
        {post.title}
      </a>
    </h3>
  </div>
</div>
