---
import { getPosts, getPost } from "@utils/sanity";
import { Params } from "astro";

const posts = await getPosts();
---

{
  posts.map((post) => (
    <div class="post">
      <h2>{post.title}</h2>
    </div>
  ))
}
