---
import { Icon } from "astro-icon";

import Socialicons from "./socialicons.astro";
import Nightmode from "./Nightmode.astro";



const menuitems = [
  {
    title: "About us",
    path: "/about",
    target: "",
  },
  {
    title: "Courses",
    path: "/courses",
    target: "",
  },
  {
    title: "Team",
    path: "/team",
    target: "",
  },

  {
    title: "Accommodation",
    path: "/accommodation",
    target: "",
  },
  {
    title: "Resources",
    path: "/resources",
    target: "",
  },
  {
    title: "Privacy policy",
    path: "/policy",
    target: "",
  },
  {
    title: "Contact",
    path: "/contact",
    target: "",
  },
];
---

<footer class="pt-5 bg-slate-900">
  <div class="md:flex px-5 md:px-0 py-5 justify-between max-w-screen-xl mx-auto">
    <div class="text-white flex content-center flex-wrap">
      <div class="space-y-6">
        <div class="flex items-center mt-2 space-x-2 text-white">
          <Icon class=" w-4 h-4" name="ic:baseline-chat" />
          <a href="mailto:info@medastra.co.uk">info@medastra.co.uk</a>
        </div>
        <div class="flex items-center space-x-2 text-white">
          <Icon class="w-4 h-4" name="ic:baseline-add-ic-call" /><a
            href="tel:+447459236999">+44 7865 127757</a
          >
        </div>
        <div class="flex space-x-2 text-white">
          <Icon class="w-4 h-4" name="ic:outline-location-on" />
          <span>552 Claremont Road <br /> Manchester <br /> M14 5XL</span>
        </div>
        <Socialicons />
        <div class=""><Nightmode /></div>
      </div>
    </div>
    <div>
      <ul class="grid grid-cols-2 gap-2 pt-5 md:pt-0  md:px-0">
        {
          menuitems.map((item, index) => (
            <li>
              <a
                href={item.path}
                target={item.target}
                class="flex py-2 text-white hover:text-gray-200"
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div
    class="flex justify-between  px-5 md:px-0 py-5 max-w-screen-xl mx-auto border-t border-white/10"
  >
    <div class="">
      <p class="text-center text-xs text-slate-200 ">
        Hosted By <a
          href="https://cloud1media.com"
          target="_blank"
          rel="noopener"
          class="hover:underline"
        >
          Cloud1media Ltd
        </a>
      </p>
    </div>
    <div class="text-center text-xs text-slate-200 ">
      All rights reserved © {new Date().getFullYear()}
    </div>
  </div>
</footer>
