---
import Container from "@components/ui/container.astro";
import Sectionhead from "@components/ui/sectionhead.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="Privacy Policy">
    <Container>
      <Sectionhead>
        <Fragment slot="title">Privacy Policy</Fragment>
        <Fragment slot="desc">Privacy Policy</Fragment>
      </Sectionhead>
  
      <main>
        
      </main>
    </Container>
  </Layout>