---
import Layout from "@layouts/Layout.astro";
import Container from "@components/ui/container.astro";
import { urlFor } from "../../utils/image";
import { getCourses, getCourse } from "@utils/sanity";
import { Params } from "astro";
import { PortableText } from "astro-portabletext";
import { Picture } from "@astrojs/image/components";

export async function getStaticPaths() {
  const courses = await getCourses();

  return courses.map((course) => ({
    params: { slug: course.slug.current },
  }));
}

const { slug } = Astro.params as Params;

const course = await getCourse(slug);

console.log(course.courseDate);
---

<Layout title={course.title!}>
  <Container>
    <section class="items-center">
      {
        course.mainImage ? (
          <>
            <Picture
              src={urlFor(course.mainImage).url()}
              alt="Cover image"
              sizes="(max-width: 800px) 100vw, 800px"
              widths={[200, 400, 800]}
              aspectRatio="16:9"
              background="#ffffff"
              fit="cover"
              position="center"
              class="rounded overflow-hidden h-auto z-0 mx-auto pt-12"
            />
          </>
        ) : (
          <div class="flex items-center col-span-1 h-full w-full bg-gray-500">
            <div class="content-center">
              <img
                class=""
                src="/fa2b3c00-2423-4c15-be39-4d4beda7092d.webp"
                alt=""
              />
            </div>
          </div>
        )
      }

      <div class="mx-auto max-w-[735px] my-8 pb-8 text-center border-b">
        <span
          class="uppercase tracking-wider text-sm font-medium text-gray-500 dark:text-gray-400"
        >
        </span>
        <h1
          class="text-4xl lg:text-5xl prose font-bold lg:tracking-tight mt-1 lg:leading-tight text-medbg"
        >
          {course.title}
        </h1>
      </div>

      <div
        class="mx-auto prose prose-lg dark:prose-invert mt-6 text-gray-500 dark:text-gray-400 pb-12"
      >
        <PortableText value={course.body} />
      </div>
    </section>
    <hr class="h-px my-12 bg-gray-200 border-0 dark:bg-gray-700" />

    <ul>
      {
        course.courseDate.map((item, index) => (
          <li key={`date-${index}`}>
            <span>{new Date(item.date).toLocaleDateString()}</span>
          </li>
        ))
      }
    </ul>
  </Container>
</Layout>
