---
import { Picture } from "@astrojs/image/components";
import Beyondservices from "@components/beyondservices.astro";
import Container from "@components/ui/container.astro";
import Sectionhead from "@components/ui/sectionhead.astro";
import Layout from "@layouts/Layout.astro";

---

<Layout title="courses">
  <Container>
    <Sectionhead align="center">
      <Fragment slot="title">Explore our courses</Fragment>
      <Fragment slot="desc">
        Welcome to our courses, take your time and have a read and see if you come
          across something that your intrested in
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
          
          <Beyondservices />
    </main>
  </Container>
</Layout>
